TARGET_SERVER=server.example.org
TARGET_USER=web
TARGET_DIR=metaman

REPOSITORY=https://github.com/JanOppolzer/metaman-laravel

APP_NAME=MetaMan
APP_ENV=production
APP_DEBUG=false
APP_URL=https://server.example.org

DB_HOST=127.0.0.1
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=password

MAIL_MAILER=log
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.org
MAIL_FROM_NAME=\"\${APP_NAME}\"
MAIL_REPLYTO_ADDRESS=info@example.org
MAIL_REPLYTO_NAME=Example
MAIL_ADMIN_ADDRESS=admin@example.org

GIT_SSH_KEY=/home/web/.ssh/id_ed25519
GIT_REMOTE=git@git.example.org:repository
GIT_REMOTE_BRANCH=main
GIT_LOCAL=/home/web/metaman/storage/git
GIT_USER_NAME=\"\${APP_NAME}\"
GIT_USER_EMAIL=user@example.org
GIT_EDUGAIN_CFG=eduid2edugain.cfg
GIT_EDUGAIN_TAG=eduid2edugain.tag

METADATA_BASE_URL=https://metadata.example.org/

LOG_SLACK_WEBHOOK_URL=https://hooks.example.org/services/token
LOG_SLACK_CHANNEL=#metaman
